<div class="container support_page page_margin_top fade_in_up">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="title">{{ __("Support") }}</h3>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content middle-content">
                    <div>
                        <p style="font-size: 19px;">
                            <i class="fa fa-life-ring"
                               style="vertical-align: middle;"
                               aria-hidden="true"></i>
                            {{ __("Our support team is waiting to hear from you by our email - ") }}
                            <a href="mailto:team@seet.io">team@seet.io</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>