$chat-width: 380px;

.seet-chat {
  position: fixed;
  right: 15px;
  background: #FFFFFF;
  box-shadow: 0 0 5px 0 #a0a0a0;
  width: $chat-width;
  z-index: 10;
  transition: all .2s ease-in-out;
  bottom: -350px;

  &.open {
    bottom: 0;

    .fa-angle-up {
      transform: rotateX(180deg);
    }
  }

  > *, > ul:not(.browser-default) {
    padding: 10px 15px;
  }

  > .title {
    background: #1565c0;
    color: #FFFFFF;
  }

  .fa-angle-up {
    float: right;
    padding: 2px;
  }

  .unread {
    border-radius: 50px;
    background: #FFFFFF;
    color: #2189ff;
    font-size: 11px;
    float: right;
    padding: 0 7px;
    margin-top: 2px;
    margin-left: 7px;
  }

  .chat_container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 350px;

    .conversations, .conversation {
      background: #FFFFFF;
      transition: transform .3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(0);
      width: 100%;
      height: 100%;
    }

    .conversation {
      transform: translateX(-$chat-width);
    }

    &.open {
      .conversations {
        transform: translateX(70px);
      }

      .conversation {
        transform: translateX(0);
      }
    }

    .conversations {
      overflow-y: auto;
      overflow-x: hidden;

      .search {
        border-bottom: 1px #e0e0e0 solid;

        .fa-search {
          font-size: 17px;
          line-height: 40px;
          width: 40px;
          text-align: center;
          color: #a9a9a9;
        }

        input, input:focus {
          width: calc(100% - 41px);
          margin-bottom: 0;
          border-bottom: initial;
          box-shadow: none;
        }
      }

      li {
        height: 37px;

        .image {
          display: inline-block;
          vertical-align: top;

          img {
            width: 27px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }

        .title_message {
          display: inline-block;
          width: calc(100% - 30px);
          white-space: nowrap;

          .title {
            font-size: 12px;

            .unread {
              background: #2189ff;
              color: #FFFFFF;
              margin-top: 10px;
            }
          }

          .message {
            line-height: 11px;
            font-size: 11px;
            color: #777
          }
        }
      }
    }

    .conversation {
      .top_bar {
        border-bottom: 1px #e0e0e0 solid;
      }
    }

    .messages_scroll {
      overflow-y: auto;
      overflow-x: hidden;
      height: 254px;

      .messages {
        padding: 10px 0;
        .message_container {
          position: relative;
          padding-bottom: 7px;

          .message {
            float: left;
            max-width: calc(100% - 67px);
            background: #d8d8d8;
            border-radius: 7px;
            padding: 2px 12px;
            font-size: 13px;

            > span {
              word-wrap: break-word;
            }

            .time {
              font-size: 10px;
              margin-top: 3px;
            }

            &.participant {
              float: right;
              background: #85ceff;
            }
          }
        }

        .date {
          text-align: center;
          font-size: 11px;
          padding: 8px 0;
        }
      }
    }

    .conversation_actions {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 0;
      border-top: 1px #e0e0e0 solid;

      form {
        > div:nth-child(1) {
          width: calc(100% - 80px);
        }

        > div:nth-child(2) {
          width: 80px;
          padding: 0;

          button {
            width: 100%;
            padding: 0;
            height: 40px;
            margin-top: 1px;

            &:hover {
              background-color: #FFFFFF;
            }
          }
        }

        .input-field {
          margin-top: 0;

          input, input:focus {
            margin-bottom: 0;
            border-bottom: initial;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .seet-chat {
    width: 105px;
    right: 0;

    &.open {
      width: 100%;
    }
  }
}