#CreateNewAlbum {
    float: right;
    margin-bottom: 15px;
    padding: 0 15px;
    font-size: 12px;

    i {
        margin-left: 7px;
    }
}

.gallery_page {
    .small_button {
        float: right;
        padding: 0 15px;
        font-size: 12px;
        margin-left: 10px;

        i {
            margin-left: 7px;
        }
    }

    
    .edit_gallery_label {
        margin: 0 0 20px 0;
    }

    .gallery_images {
        // edit album mode
        .thumb {

            .card {
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              position: relative;
              min-height: 150px;

              .delete_image {
                  display: none;
              }

              &.video:after {
                content: '';
                background: transparent url('../img/video-play.png') no-repeat scroll 0 0;
                width: 64px;
                height: 64px;
                position: absolute;
                top: calc(50% - 30px);
                left: calc(50% - 32px);
                opacity: 0.7;
              }
            }

            &:hover {
                .card {
                    .delete_image {
                        display: block;
                    }
                }
            }
        }
    }
    
    #responsive-images {
        a {
          margin-right: 15px;
          display: inline-block;
          position: relative;
          width: 150px;
          height: 150px;

          &.video:after {
            content: '';
            background: transparent url('../img/video-play.png') no-repeat scroll 0 0;
            width: 64px;
            height: 64px;
            position: absolute;
            top: calc(50% - 23px);
            left: calc(50% - 32px);
            opacity: 0.7;
          }
        }
    }

    .go_edit_gallery {
        float: right;
        cursor: pointer;

        i {
            margin-right: 5px;
        }
    }

    .galleries_container {
        .card {
            .card-image {
                min-height: 180px;
                max-height: 180px;
                overflow: hidden;

                img {
                    max-height: 100%;
                }
            }
            .card-content {
                padding: 10px;
                margin-bottom: 0;

                .card-title {
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 17px;
                    height: 34px;
                    color: #474747;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .no_results {
        font-size: 21px;
    }
}