<!DOCTYPE html>
<html{% if IsRtl %} dir="RTL"{% endif %} class="{% block head_class %}{% endblock %}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="public/favicon48.ico">
        <title>{% block site_title %}seet{% endblock %}</title>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MVF4PBC');</script>
        {% block header %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVF4PBC"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>